<div class="container">
  <div class="row"*ngIf="!isEditMode">
    <div class="w-10">
      <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
      <button class="btn btn-info ml-2" (click)="isEditMode = !isEditMode">Update</button>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>{{product.name}}</h4>
        </div>
        <div class="col">
          <h4>{{product.price}}</h4>
        </div>
        <div class="col">
          <h4>{{product.countLeft}}</h4>
        </div>
      </div>
    </div>
    <div *ngIf="product.loadngStatus === 'Loading'" class="spinner-border mr-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="isEditMode" >
    <div class="col">
      <app-product-form [product]="product" (productSubmit)="onUpdate($event, product.id)" (closeForm)="isEditMode=!isEditMode"></app-product-form>
    </div>
  </div>
</div>
